WebContent/WEB-INF/wsdl/AchievementTrackerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="AchievementTrackerService" targetNamespace="http://service.achievement.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.achievement.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.achievement.ibm.com/" schemaLocation="AchievementTrackerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findAchievementTypes">
    <part element="tns:findAchievementTypes" name="parameters"/>
  </message>
  <message name="findAchievementTypesResponse">
    <part element="tns:findAchievementTypesResponse" name="parameters"/>
  </message>
  <message name="AchievementTrackerException">
    <part element="tns:AchievementTrackerException" name="fault"/>
  </message>
  <message name="findAchievementType">
    <part element="tns:findAchievementType" name="parameters"/>
  </message>
  <message name="findAchievementTypeResponse">
    <part element="tns:findAchievementTypeResponse" name="parameters"/>
  </message>
  <message name="findAchievementCategories">
    <part element="tns:findAchievementCategories" name="parameters"/>
  </message>
  <message name="findAchievementCategoriesResponse">
    <part element="tns:findAchievementCategoriesResponse" name="parameters"/>
  </message>
  <message name="saveAchievement">
    <part element="tns:saveAchievement" name="parameters"/>
  </message>
  <message name="saveAchievementResponse">
    <part element="tns:saveAchievementResponse" name="parameters"/>
  </message>
  <message name="findAchievementByEmpID">
    <part element="tns:findAchievementByEmpID" name="parameters"/>
  </message>
  <message name="findAchievementByEmpIDResponse">
    <part element="tns:findAchievementByEmpIDResponse" name="parameters"/>
  </message>
  <message name="findAchievementByApproverID">
    <part element="tns:findAchievementByApproverID" name="parameters"/>
  </message>
  <message name="findAchievementByApproverIDResponse">
    <part element="tns:findAchievementByApproverIDResponse" name="parameters"/>
  </message>
  <message name="findAchievementById">
    <part element="tns:findAchievementById" name="parameters"/>
  </message>
  <message name="findAchievementByIdResponse">
    <part element="tns:findAchievementByIdResponse" name="parameters"/>
  </message>
  <message name="approveAchievement">
    <part element="tns:approveAchievement" name="parameters"/>
  </message>
  <message name="approveAchievementResponse">
    <part element="tns:approveAchievementResponse" name="parameters"/>
  </message>
  <message name="findAchievementSummery">
    <part element="tns:findAchievementSummery" name="parameters"/>
  </message>
  <message name="findAchievementSummeryResponse">
    <part element="tns:findAchievementSummeryResponse" name="parameters"/>
  </message>
  <portType name="AchievementTracker">
    <operation name="findAchievementTypes">
      <input message="tns:findAchievementTypes"/>
      <output message="tns:findAchievementTypesResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findAchievementType">
      <input message="tns:findAchievementType"/>
      <output message="tns:findAchievementTypeResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findAchievementCategories">
      <input message="tns:findAchievementCategories"/>
      <output message="tns:findAchievementCategoriesResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="saveAchievement">
      <input message="tns:saveAchievement"/>
      <output message="tns:saveAchievementResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findAchievementByEmpID">
      <input message="tns:findAchievementByEmpID"/>
      <output message="tns:findAchievementByEmpIDResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findAchievementByApproverID">
      <input message="tns:findAchievementByApproverID"/>
      <output message="tns:findAchievementByApproverIDResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findAchievementById">
      <input message="tns:findAchievementById"/>
      <output message="tns:findAchievementByIdResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="approveAchievement">
      <input message="tns:approveAchievement"/>
      <output message="tns:approveAchievementResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findAchievementSummery">
      <input message="tns:findAchievementSummery"/>
      <output message="tns:findAchievementSummeryResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
  </portType>
  <binding name="AchievementTrackerPortBinding" type="tns:AchievementTracker">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findAchievementTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAchievementType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAchievementCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveAchievement">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAchievementByEmpID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAchievementByApproverID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAchievementById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="approveAchievement">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAchievementSummery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AchievementTrackerService">
    <port binding="tns:AchievementTrackerPortBinding" name="AchievementTrackerPort">
      <soap:address location="http://localhost:9080/AchievementTrackerService/AchievementTrackerService"/>
    </port>
  </service>
</definitions>