WebContent/WEB-INF/wsdl/EmployeeManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="EmployeeManagementService" targetNamespace="http://service.achievement.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.achievement.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.achievement.ibm.com/" schemaLocation="EmployeeManagementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findEmployeesByManagerFlag">
    <part element="tns:findEmployeesByManagerFlag" name="parameters"/>
  </message>
  <message name="findEmployeesByManagerFlagResponse">
    <part element="tns:findEmployeesByManagerFlagResponse" name="parameters"/>
  </message>
  <message name="AchievementTrackerException">
    <part element="tns:AchievementTrackerException" name="fault"/>
  </message>
  <message name="findEmployeesByEmailID">
    <part element="tns:findEmployeesByEmailID" name="parameters"/>
  </message>
  <message name="findEmployeesByEmailIDResponse">
    <part element="tns:findEmployeesByEmailIDResponse" name="parameters"/>
  </message>
  <message name="findEmployeesByID">
    <part element="tns:findEmployeesByID" name="parameters"/>
  </message>
  <message name="findEmployeesByIDResponse">
    <part element="tns:findEmployeesByIDResponse" name="parameters"/>
  </message>
  <message name="findEmployees">
    <part element="tns:findEmployees" name="parameters"/>
  </message>
  <message name="findEmployeesResponse">
    <part element="tns:findEmployeesResponse" name="parameters"/>
  </message>
  <portType name="EmployeeManagement">
    <operation name="findEmployeesByManagerFlag">
      <input message="tns:findEmployeesByManagerFlag"/>
      <output message="tns:findEmployeesByManagerFlagResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findEmployeesByEmailID">
      <input message="tns:findEmployeesByEmailID"/>
      <output message="tns:findEmployeesByEmailIDResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findEmployeesByID">
      <input message="tns:findEmployeesByID"/>
      <output message="tns:findEmployeesByIDResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findEmployees">
      <input message="tns:findEmployees"/>
      <output message="tns:findEmployeesResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
  </portType>
  <binding name="EmployeeManagementPortBinding" type="tns:EmployeeManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findEmployeesByManagerFlag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findEmployeesByEmailID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findEmployeesByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findEmployees">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EmployeeManagementService">
    <port binding="tns:EmployeeManagementPortBinding" name="EmployeeManagementPort">
      <soap:address location="http://localhost:9080/AchievementTrackerService/EmployeeManagementService"/>
    </port>
  </service>
</definitions>