WebContent/WEB-INF/wsdl/ProjectManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="ProjectManagementService" targetNamespace="http://service.achievement.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.achievement.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.achievement.ibm.com/" schemaLocation="ProjectManagementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findProjects">
    <part element="tns:findProjects" name="parameters"/>
  </message>
  <message name="findProjectsResponse">
    <part element="tns:findProjectsResponse" name="parameters"/>
  </message>
  <message name="AchievementTrackerException">
    <part element="tns:AchievementTrackerException" name="fault"/>
  </message>
  <message name="findEmployeeProjects">
    <part element="tns:findEmployeeProjects" name="parameters"/>
  </message>
  <message name="findEmployeeProjectsResponse">
    <part element="tns:findEmployeeProjectsResponse" name="parameters"/>
  </message>
  <message name="findProjectById">
    <part element="tns:findProjectById" name="parameters"/>
  </message>
  <message name="findProjectByIdResponse">
    <part element="tns:findProjectByIdResponse" name="parameters"/>
  </message>
  <portType name="ProjectManagement">
    <operation name="findProjects">
      <input message="tns:findProjects"/>
      <output message="tns:findProjectsResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findEmployeeProjects">
      <input message="tns:findEmployeeProjects"/>
      <output message="tns:findEmployeeProjectsResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findProjectById">
      <input message="tns:findProjectById"/>
      <output message="tns:findProjectByIdResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
  </portType>
  <binding name="ProjectManagementPortBinding" type="tns:ProjectManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findProjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findEmployeeProjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findProjectById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ProjectManagementService">
    <port binding="tns:ProjectManagementPortBinding" name="ProjectManagementPort">
      <soap:address location="http://localhost:9080/AchievementTrackerService/ProjectManagementService"/>
    </port>
  </service>
</definitions>