WebContent/WEB-INF/wsdl/UserManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="UserManagementService" targetNamespace="http://service.achievement.ibm.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.achievement.ibm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.achievement.ibm.com/" schemaLocation="UserManagementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="isValidUser">
    <part element="tns:isValidUser" name="parameters"/>
  </message>
  <message name="isValidUserResponse">
    <part element="tns:isValidUserResponse" name="parameters"/>
  </message>
  <message name="AchievementTrackerException">
    <part element="tns:AchievementTrackerException" name="fault"/>
  </message>
  <message name="registerUser">
    <part element="tns:registerUser" name="parameters"/>
  </message>
  <message name="registerUserResponse">
    <part element="tns:registerUserResponse" name="parameters"/>
  </message>
  <message name="findUserByActiveFlag">
    <part element="tns:findUserByActiveFlag" name="parameters"/>
  </message>
  <message name="findUserByActiveFlagResponse">
    <part element="tns:findUserByActiveFlagResponse" name="parameters"/>
  </message>
  <message name="updateUserActiveFlag">
    <part element="tns:updateUserActiveFlag" name="parameters"/>
  </message>
  <message name="updateUserActiveFlagResponse">
    <part element="tns:updateUserActiveFlagResponse" name="parameters"/>
  </message>
  <portType name="UserManagement">
    <operation name="isValidUser">
      <input message="tns:isValidUser"/>
      <output message="tns:isValidUserResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="registerUser">
      <input message="tns:registerUser"/>
      <output message="tns:registerUserResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="findUserByActiveFlag">
      <input message="tns:findUserByActiveFlag"/>
      <output message="tns:findUserByActiveFlagResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
    <operation name="updateUserActiveFlag">
      <input message="tns:updateUserActiveFlag"/>
      <output message="tns:updateUserActiveFlagResponse"/>
      <fault message="tns:AchievementTrackerException" name="AchievementTrackerException"/>
    </operation>
  </portType>
  <binding name="UserManagementPortBinding" type="tns:UserManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="isValidUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="registerUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUserByActiveFlag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateUserActiveFlag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AchievementTrackerException">
        <soap:fault name="AchievementTrackerException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="UserManagementService">
    <port binding="tns:UserManagementPortBinding" name="UserManagementPort">
      <soap:address location="http://localhost:9080/AchievementTrackerService/UserManagementService"/>
    </port>
  </service>
</definitions>